body
{
	background-color: #efefef;
}
#HolePage
{
	height: 100%;
	position: relative;
	background-color: #efefef;
}
.nav-region
{
	height: 12%;
	width: 100%;
	background-color:#2E2D2D;
	font-family: "Hiragino Sans GB","Microsoft YaHei","微软雅黑",tahoma,arial,simhei,"黑体";
}
.nav-region .row
{
	height: 100%;
}
.nav-region .logo
{
	height: 48px;
	width: 40%;
	margin: 5px auto;
	background: url(../images/photoeverywhere_logo.png);
	background-position: center center;
	background-repeat: no-repeat;
	-webkit-background-size: contain;
	background-size: contain;
}
.nav-region ul
{
	margin-top: 20px;
	font-size: 16px;
	margin-left: 16px;
}
.nav-region ul a
{
	color: #ffffff;
	font-weight: normal;
}
.nav-region ul #this-page-name
{
	font-weight: bold!important;
}
@media screen and (max-width: 450px){
	.nav-region .nav
	{
		background-color:#2E2D2D;
	}
	.nav-region .logo
	{
		width: 80%;
	}
	.nav-region ul
	{
		font-size: 15px;
	}
}
.title
{
	margin: 0px auto;
	font-family: "Hiragino Sans GB","Microsoft YaHei","微软雅黑",tahoma,arial,simhei,"黑体";
	font-weight: bold;
	font-size: 25px;
	width: 70%;
	text-align: center;
}
.b-region
{
	width: 75%;
	margin: 0 auto;
}

.b-region .pic-block
{
	margin: 5px auto;
	padding-top: 10px;
	border-top:2px solid #CDCDCD;
}
.b-region .pic-block .author
{
	font-family: "Hiragino Sans GB","Microsoft YaHei","微软雅黑",tahoma,arial,simhei,"黑体";
	margin-left: 30px;
	font-size: 17px;
	font-weight: bold;
}
.b-region .pic-block .container .pic-describe p
{
	font-family: "Hiragino Sans GB","Microsoft YaHei","微软雅黑",tahoma,arial,simhei,"黑体";
	font-size: 15px;
	font-weight: bold;
}
.b-region .pic-block .love-info
{
	margin-left: 30px;
	height: 20px;
}
.b-region .pic-block .love-info p
{
	float: left;
	margin-right: 10px;
	height: 20px;
	line-height: 20px;
}
.b-region .pic-block .love-info span
{
	height: 20px;
	font-size: 20px;
}
.b-region .pic-block .love-info .is-love .love
{
	display: none;
}