<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0,height=device-height,
	user-scalable=no,maximum-scale=1.0,minimum-scale=1.0">
	<meta name="keywords" content="照片社交、摄影作品、手机摄影"/>

	<title>用户中心</title>
	<link rel="stylesheet" href="../lib/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="../css/findPassword.css">
	<link rel="stylesheet" href="../lib/Normalize.css">
    <!--[if lt IE 9]>
      <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	<script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->
</head>
<body>
	<div id="HolePage" class="contianer">
		<nav>
			<span class="nav-left">邮箱帐号</span>
			<i>|</i>
			<span class="nav-right">找回密码</span>				
		</nav>
		<div id="body-region">
			<div class="body-info">
				<h4 class="body-head">请输入您要找回密码的帐号</h4>
				<div class="body-box">
					<div class="form-box">
						<form class="form-group" action="" v-on:submit.prevent="send">
							<div class="input-div">
								<input type="email" v-model="userMail" placeholder=" 您的邮箱" >
							</div>
							<div class="v-code">
								<input type="text" v-model="code" placeholder=" 验证码">
								<img v-bind:src="codePic">
							</div>
							<button class="btn btn-info btn-lg">确&nbsp;&nbsp;&nbsp;&nbsp;定</button>
						</form>
					</div>
				</div>
			</div>
		</div>
		<div id="bottom-region">
			<div class="bottom-info">
				<ul class="list-inline">
					<li><a href="#">学院简介</a></li>-
					<li><a href="#">联系方式</a></li>-
					<li><a href="#">用户服务</a></li>-
					<li><a href="#">相关法律</a></li>
				</ul>
				<p id="copyright">深圳大学计算机软件学院版权所有 ©1997-2015</p>
			</div>
		</div>
	</div>
	<script src="../lib/vue.min.js"></script>
	<script src="../js/findPassword.js"></script>
	<script src="http://cdn.bootcss.com/vue-resource/0.7.4/vue-resource.min.js"></script>
</body>
</html>
